#next-christmas {
    text-align: center;
    margin-top: 35px;
}

#next-christmas-title {
    margin-bottom: 25px;
}

#count-down-date {

}

#count-down-hour {

}

#christmas-message {
    font-size: 30px;
}